In [5]:
!pwd

/content

In [6]:
import os
from google.colab import drive

drive.mount('./mount')#运行后点击链接，复制密钥
 
os.environ['KAGGLE_CONFIG_DIR'] = '/content/mount/My Drive/Colab Notebooks/kaggle' 

os.chdir('/content/mount/My Drive/Colab Notebooks/kaggle') #切换到kaggle文件夹
!kaggle datasets download -d amananandrai/ag-news-classification-dataset

Mounted at ./mount
Downloading ag-news-classification-dataset.zip to /content/mount/My Drive/Colab Notebooks/kaggle
 44% 5.00M/11.4M [00:00<00:00, 25.1MB/s]
100% 11.4M/11.4M [00:00<00:00, 45.4MB/s]

In [9]:
!unzip ag-news-classification-dataset.zip

Archive:  ag-news-classification-dataset.zip
  inflating: test.csv
  inflating: train.csv

In [12]:
import pandas as pd
import os

cwd=os.getcwd()
print(cwd)

data = pd.read_csv(cwd+'/train.csv')
data = pd.DataFrame(data=data)
data.columns = data.columns.str.replace(" ","_")
data.columns = data.columns.str.lower()
data['class_name']=data['class_index'].map({1:"World",2:"Sports",3:"Business",4:"Sci_Tech"})

/content/mount/MyDrive/Colab Notebooks/kaggle

In [13]:
data[:10]

,class_index,title,description,class_name
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...",Business
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,Business
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,Business
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,Business
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...",Business
5,3,"Stocks End Up, But Near Year Lows (Reuters)",Reuters - Stocks ended slightly higher on Frid...,Business
6,3,Money Funds Fell in Latest Week (AP),AP - Assets of the nation's retail money marke...,Business
7,3,Fed minutes show dissent over inflation (USATO...,USATODAY.com - Retail sales bounced back a bit...,Business
8,3,Safety Net (Forbes.com),Forbes.com - After earning a PH.D. in Sociolog...,Business
9,3,Wall St. Bears Claw Back Into the Black,"NEW YORK (Reuters) - Short-sellers, Wall Stre...",Business

In [14]:
data.class_name.value_counts()

Business    30000
Sci_Tech    30000
Sports      30000
World       30000
Name: class_name, dtype: int64

In [16]:
# 打印前10篇新闻
for i in range(10):
  print("Tittle of Article",i)
  print(data.loc[i,"title"])
  print("\n")

Tittle of Article 0
Wall St. Bears Claw Back Into the Black (Reuters)


Tittle of Article 1
Carlyle Looks Toward Commercial Aerospace (Reuters)


Tittle of Article 2
Oil and Economy Cloud Stocks' Outlook (Reuters)


Tittle of Article 3
Iraq Halts Oil Exports from Main Southern Pipeline (Reuters)


Tittle of Article 4
Oil prices soar to all-time record, posing new menace to US economy (AFP)


Tittle of Article 5
Stocks End Up, But Near Year Lows (Reuters)


Tittle of Article 6
Money Funds Fell in Latest Week (AP)


Tittle of Article 7
Fed minutes show dissent over inflation (USATODAY.com)


Tittle of Article 8
Safety Net (Forbes.com)


Tittle of Article 9
Wall St. Bears Claw Back Into the Black

In [17]:
# 打印前10篇新闻
for i in range(10):
  print("Description of Article",i)
  print(data.loc[i,"description"])
  print("\n")

Description of Article 0
Reuters - Short-sellers, Wall Street's dwindling\band of ultra-cynics, are seeing green again.


Description of Article 1
Reuters - Private investment firm Carlyle Group,\which has a reputation for making well-timed and occasionally\controversial plays in the defense industry, has quietly placed\its bets on another part of the market.


Description of Article 2
Reuters - Soaring crude prices plus worries\about the economy and the outlook for earnings are expected to\hang over the stock market next week during the depth of the\summer doldrums.


Description of Article 3
Reuters - Authorities have halted oil export\flows from the main pipeline in southern Iraq after\intelligence showed a rebel militia could strike\infrastructure, an oil official said on Saturday.


Description of Article 4
AFP - Tearaway world oil prices, toppling records and straining wallets, present a new economic menace barely three months before the US presidential elections.


Description of Article 5
Reuters - Stocks ended slightly higher on Friday\but stayed near lows for the year as oil prices surged past  #36;46\a barrel, offsetting a positive outlook from computer maker\Dell Inc. (DELL.O)


Description of Article 6
AP - Assets of the nation's retail money market mutual funds fell by  #36;1.17 billion in the latest week to  #36;849.98 trillion, the Investment Company Institute said Thursday.


Description of Article 7
USATODAY.com - Retail sales bounced back a bit in July, and new claims for jobless benefits fell last week, the government said Thursday, indicating the economy is improving from a midsummer slump.


Description of Article 8
Forbes.com - After earning a PH.D. in Sociology, Danny Bazil Riley started to work as the general manager at a commercial real estate firm at an annual base salary of  #36;70,000. Soon after, a financial planner stopped by his desk to drop off brochures about insurance benefits available through his employer. But, at 32, "buying insurance was the furthest thing from my mind," says Riley.


Description of Article 9
 NEW YORK (Reuters) - Short-sellers, Wall Street's dwindling  band of ultra-cynics, are seeing green again.

In [20]:
# 去除噪声
cols=["title","description"]
data[cols]=data[cols].applymap(lambda x : x.replace("\\"," "))
data[cols]=data[cols].applymap(lambda x : x.replace("#36;","$"))
data[cols]=data[cols].applymap(lambda x: x.replace("  "," "))
data[cols]=data[cols].applymap(lambda x: x.strip())

# 写入准备文件
data.to_csv(cwd+'/train_prepared.csv',index=False)

## NLP任务1：命名实体识别